
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    background-color: #141312;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
}


.logo img {
    height: 70px; 
    width: auto;
}


.menu ul {
    display: flex;
    list-style: none;
    gap: 30px; 
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.3s; 
    position: relative;
    
}


.menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f1f1f1; 
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: #f1f1f1;
}


.btn-contato {
    background-color: #35271c;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700 !important;
}

.btn-contato:hover {
    background-color: #d35400;
    color: white !important;
}


.btn-contato::after {
    display: none;
}

.titulo h1{    
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: xx-large;
    font-family: "Rubik Distressed", system-ui;
    margin-bottom: 2%;
}

body{
    background-color: rgb(0, 0, 0);    
}

#inicio{
    display: flex;
    width: 80%;
}

#inicio h2,p,h3{
    color: white;
}

.imagemfundo img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: relative;
}

.cmc {
    position: absolute;
    top: 50%;
    left: 15%; /* joga mais pra esquerda */
    transform: translateY(-50%);

    padding: 40px 50px;
    max-width: 420px;

    background: rgba(97, 71, 16, 0.15); 
    border: 2px solid #271a1a;
    border-radius: 12px;

    text-align: left;
}


.cmc h1 {
    color: white;
    font-family: "Rubik Distressed", system-ui;
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: 20px;
}


.cmc p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #ffffff;
}


.cmc .assinatura {
    color: rgb(209, 200, 190);
    display: block;
    font-size: 0.9rem;
    opacity: 0.85;
    margin-bottom: 25px;
}


.btn-cta {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #614b0d;
    border-radius: 30px;
    background-color: #614511;

    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

.btn-cta:hover {
    background-color: #00ffff;
    color: #000;
}