@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Distressed';
    src: url('../fonts/RubikDistressed-Regular.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px; 
}

.logo img {
    height: 75px;
    width: auto;
    max-width: 130px;
    object-fit: contain;
    margin-left: 30px;
}



.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;

}

.menu a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.3s;
    position: relative;
}

.cabecalho {
    background-color: #141312;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 5%;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}



.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger span {
    width: 26px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
}



@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #141312;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        transition: 0.3s ease;
    }

    .menu.active .nav-links {
        right: 0;
    }

    .menu.active .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .menu.active .hamburger span:nth-child(2) {
        opacity: 0;
    }

    .menu.active .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}


.menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f1f1f1;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: #f1f1f1;
}



.btn-contato {
    background-color: #35271c;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.btn-contato:hover {
    background-color: #583014;
    color: white;
}

.btn-contato::after {
    display: none;
}



.titulo h1 {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: xx-large;
    font-family: "Rubik Distressed", system-ui;
    margin-bottom: 2%;
}

body {
    background-color: #161212;
    overflow-x: hidden;
    width: 100%;
    padding-top: 70px;
}

#inicio h2, p, h3 {
    color: white;
}

.imagemfundo img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: relative;
}



.cmc {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    padding: 40px 50px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #161212;
    border-radius: 12px;
    text-align: left;
}

.cmc h1 {
    color: white;
    font-family: "Rubik Distressed", system-ui;
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.cmc p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #ffffff;
}

.cmc .assinatura {
    color: rgb(255, 244, 233);
    display: block;
    font-size: 0.9rem;
    opacity: 0.85;
    margin-bottom: 25px;
}

.btn-cta {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #22211d;
    border-radius: 30px;
    background-color: #35271c;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

.btn-cta:hover {
    background-color: #583014;
    color: #ffffff;
}

#inicio {
    width: 100%;
    display: flex;
}



@media (max-width: 992px) {
    .menu ul {
        gap: 15px;
    }

    .cmc {
        left: 10%;
        max-width: 380px;
    }

    .cmc h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {
    .logo img {
        height: 70px;
    }

    .cmc {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 100px auto;
        width: 90%;
        padding: 30px 20px;
        text-align: center;
    }

    .cmc h1 {
        font-size: 1.8rem;
    }

    .imagemfundo img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .cmc h1 {
        font-size: 1.5rem;
    }

    .btn-cta {
        width: 100%;
        text-align: center;
    }
}



#sobre {
    padding: 200px 8%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.container-sobre {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    width: 100%;
}

.sobrebox {
    flex: 1;
    max-width: 600px;
}

.sobrebox h2 {
    font-family: "Rubik Distressed", system-ui;
    font-size: 2.8rem;
    color: #553e2d;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sobrebox h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #614511;
    margin-bottom: 20px;
}

.divisor {
    width: 100px;
    height: 4px;
    background-color: #614511;
    margin-bottom: 25px;
}

.sobrebox p {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 1.05rem;
    text-align: justify;
}

.sobre-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sobre-imagem img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 20px 20px 0px #35271c;
}

@media (max-width: 992px) {
    .container-sobre {
        flex-direction: column;
        text-align: center;
    }

    .divisor {
        margin: 0 auto 25px;
    }

    .sobrebox p {
        text-align: center;
    }

    .sobre-imagem img {
        box-shadow: 10px 10px 0px #35271c;
    }
}



#coaches {
    padding: 100px 8%;
    background-color: #161212;
    display: flex;
    justify-content: center;
}

.coachbox h2{ 
    font-family: "Rubik Distressed", system-ui;
    font-size: 2.8rem;
    color: bisque;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}


.coaches-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap; 
}


.coach-card {
    flex: 1;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.coach-img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    margin-bottom: 20px;
    border: 2px solid bisque; 
    overflow: hidden;
}

.coach-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease;
}


.coach-card:hover img {
    transform: scale(1.05);
}


.coach-info p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: center;
    opacity: 0.9;
}


@media (max-width: 768px) {
    .coaches-grid {
        gap: 50px;
    }
    
    .coach-card {
        max-width: 100%;
    }
}



#aulas {
    padding: 100px 5% 150px 5%; 
    background-color: #9c8a7f; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


.tit-aulas {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}


.tit-aulas h2 { 
    font-family: "Rubik Distressed", system-ui;
    font-size: 2.8rem;
    color: #35271c;
    text-transform: uppercase;
}

.tit-aulas p {
    color: #35271c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container-aulas {

    background-color: #dfd8d1;
    padding: 50px;            
    border-radius: 20px;       
    box-shadow: 0 15px 40px rgba(53, 39, 28, 0.2); 
    border: 3px solid #35271c; 

    
    display: flex;
    align-items: center; 
    gap: 40px;           
    max-width: 1800px;   
    width: 100%;
}
.img-crosskids {
    flex: 1; 
    display: flex;
    justify-content: flex-start;
}

.img-crosskids img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: none; 
}

.aulasinfo {
    flex: 2;             
    padding: 40px;       
    background-color: rgba(75, 63, 37, 0.1);
    border-radius: 15px;
}

.aulasinfo h3 {
    font-family: "Rubik Distressed", system-ui;
    font-size: 2.5rem; 
    color: #35271c;
    margin-bottom: 20px;
    text-align: center;
}

.aulasinfo p {
    color: #35271c;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
}


@media (max-width: 992px) {
    .container-aulas {
        flex-direction: column;
        text-align: center;
        padding: 30px; /* Menos padding no celular */
        gap: 30px;
    }
    
    #aulas {
        align-items: center; /* Centraliza a caixa no celular */
    }
}



#plano {
    padding: 100px 5% 150px 5%; 
    background-color: #f1f1f1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.tit-planos {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}


.tit-planos h2 { 
    font-family: "Rubik Distressed", system-ui;
    font-size: 2.8rem;
    color: #35271c;
    text-transform: uppercase;
}

.tit-planos p {
    color: #35271c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


.container-planos {
    position: relative; 
    background-color: #dfd8d1;
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(53, 39, 28, 0.5);
    border: 3px solid #35271c;
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 900px;
    width: 100%;
    min-height: 200px; 
}


.planosinfo {
    flex: 1;             
    padding: 40px;       
    border-radius: 15px;
}

.planosinfo h3 {
    font-family: "Rubik Distressed", system-ui;
    font-size: 2rem; 
    color: #35271c;
    margin-bottom: 20px;
    text-align: center;
}

.planosinfo p {
    color: #35271c;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}



.formas-pagamento-mini {
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.formas-pagamento-mini span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem; 
    font-weight: 700;
    color: #35271c;
    text-transform: uppercase;
}

.icones-mini {
    display: flex;
    gap: 8px;
}

.icones-mini img {
    height: 22px; 
    width: auto;
    object-fit: contain;
    
}


@media (max-width: 480px) {
    .formas-pagamento-mini {
        position: static;
        align-items: center;
        margin-top: 20px;
    }
    
    .container-planos {
        flex-direction: column;
        padding-bottom: 30px;
    }
}
.textp p{
    font-size: small;
    color: #35271c;
    margin-top: 0;
}



.container-planos.item-esquerda {
    justify-content: flex-start; 
    padding-left: 60px;          
}

.item-esquerda .planosinfo ul,li {
    text-align: left;
    margin-left: 0;
    color: #35271c;
    font-size: 1.2rem;
}
